<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.uip.mybatis.mapper.WxGovInfoMapper">
  <resultMap id="BaseResultMap" type="com.uhope.uip.mybatis.domain.WxGovInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="worktime" jdbcType="VARCHAR" property="worktime" />
    <result column="jdphone" jdbcType="VARCHAR" property="jdphone" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
</mapper>