<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.uip.mybatis.mapper.WxMenuFuncMapper">
  <resultMap id="BaseResultMap" type="com.uhope.uip.mybatis.domain.WxMenuFunc">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="click_key" jdbcType="VARCHAR" property="clickKey" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="url_type" jdbcType="INTEGER" property="urlType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="news_info" jdbcType="LONGVARCHAR" property="newsInfo" />
  </resultMap>
</mapper>