<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.uip.mybatis.mapper.WxNewsArticleMapper">
  <resultMap id="BaseResultMap" type="com.uhope.uip.mybatis.domain.WxNewsArticle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="APPID" jdbcType="VARCHAR" property="appid" />
    <result column="mediaid" jdbcType="VARCHAR" property="mediaid" />
    <result column="thumbmediaid" jdbcType="VARCHAR" property="thumbmediaid" />
    <result column="thumburl" jdbcType="VARCHAR" property="thumburl" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="contentsourceurl" jdbcType="VARCHAR" property="contentsourceurl" />
    <result column="showcoverpic" jdbcType="INTEGER" property="showcoverpic" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="digest" jdbcType="LONGVARCHAR" property="digest" />
  </resultMap>
</mapper>